<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>API Reference</title>

    <link href="{{documentationUrl}}/{{assetsPath}}/css/screen.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="{{documentationUrl}}/{{assetsPath}}/css/ending.css" rel="stylesheet" type="text/css" media="screen" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
    <script src="{{documentationUrl}}/{{assetsPath}}/js/all.js" type="text/javascript"></script>

    <script>
        $(function() {
            setupLanguages(["shell", "javascript"]);
        });
    </script>
</head>

<body class="index">
    <a href="#" id="nav-button">
        <span>
        NAV
        <img src="{{documentationUrl}}/{{assetsPath}}/img/navbar.png" />
      </span>
    </a>
    <div class="tocify-wrapper">
        <img src="{{logoUrl}}" style="width: 80%; margin: 20px;" />
        <div class="lang-selector">
            <a href="#" data-language-name="shell">shell</a>
            <a href="#" data-language-name="javascript">javascript</a>
        </div>
        <div class="search">
            <input type="text" class="search" id="input-search" placeholder="Search">
        </div>
        <ul class="search-results"></ul>
        <div id="toc">
        </div>
        <ul class="toc-footer">
            <li><a href='http://github.com/tripit/slate'>Documentation based on Slate</a>
            </li>
        </ul>
    </div>
    <div class="page-wrapper">
        <div class="dark-box"></div>
        <div class="content">
          {{#each routes}}
            {{#each this}}
              <h1 id='{{idify @../key}}' data-path="{{@../key}}">{{@../key}}</h1>
              <h2 id='{{idify @../key @key}}'><span class="method">{{@key}}</span> {{validation.params.example}}</h2>

              <pre style="display: block;">
                <code class="highlight shell">curl <span class="s2">"{{validation.params.example}}"</span> \
                  {{#if validation.payload}}
                    -H <span class="s2">"Content-Type: application/json"</span> \
                    -d <span class="s2">'{{stringify validation.payload.example}}'</span>
                  {{/if}}
                </code>
              </pre>

              <pre style="display: block;">
  <code class="highlight javascript">
  var request = require('request');

  var options = {
    method: '<span class="s2">{{@key}}</span>',
    path: '<span class="s2">{{validation.params.example}}</span>',
    {{#if validation.payload}}
    json: true,
    body: '<span class="s2">{{stringify validation.payload.example}}</span>'
    {{/if}}
  };

  request(options, function (error, response, body) {
    console.log(error, body);
  });
  </code>
              </pre>

              <p class="endpoint-description">{{description}}</p>

              <h3>HTTP REQUEST</h3>
              <p class="url-mapping"><code prettyprint="true"><span class="method">{{@key}}</span> {{@../key}}</code></p>

              <h3>TAGS</h3>
              <ul class="tags">
                  {{#each tags}}
                  <li class="tag">{{this}}</li>
                  {{/each}}
              </ul>
              {{#each validation}}
                {{#if elements}}
                <h3>{{humanName}}</h3>
                <table class="{{@key}}-table">
                    <thead>
                        <tr>
                            <td>Key</td>
                            <td>Type</td>
                            <td>Description</td>
                            <td>Allowed Values</td>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each elements}}
                        <tr>
                            <td>{{@key}}</td>
                            <td>{{type}}</td>
                            <td>{{description}}</td>
                            <td>
                              {{#if valid}}
                                <ul class="valids">{{#each valid}}<li class="valid">{{this}}</li>{{/each}}</ul>
                              {{/if}}
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
                {{/if}}
              {{/each}}

            {{/each}}
          {{/each}}
        </div>
        <div class="dark-box">
            <div class="lang-selector">
                <a href="#" data-language-name="shell">shell</a>
                <a href="#" data-language-name="javascript">javascript</a>
            </div>
        </div>
    </div>
</body>
